:root {
  --dark-steel: #295d8a;
  --steel: #4a7fb2;
  --white: #ffffff;
  --black: #000000;
}

* {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: Arial, sans-serif !important;
  background: var(--black) !important;
  color: var(--white) !important;
  line-height: 1.6 !important;
}

header {
    background: linear-gradient(90deg, var(--dark-steel), var(--steel), var(--dark-steel)) !important;
    padding: 20px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 100 !important;
}

.logo h1 {
    font-family: 'Audiowide', sans-serif !important;
    color: var(--black) !important;
    font-size: 35px !important;
    margin: 0 !important;
}

.logo a {
    text-decoration: none !important;
    color: var(--black) !important;
}

main {
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.intro {
  background: linear-gradient(90deg, var(--steel)) !important;
  padding: 20px !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important;
  text-align: left !important;
  margin: 0 !important;
}

h2 {
  font-family: 'Audiowide', sans-serif !important;
  color: var(--white) !important;
}

ul {
  list-style-position: inside !important;
  margin-left: 20px !important;
}

footer {
  background: linear-gradient(90deg, var(--dark-steel), var(--steel), var(--dark-steel)) !important;
  text-align: center !important;
  padding: 20px !important;
  color: var(--black) !important;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1) !important;
  width: 100% !important;
}

footer a {
  color: var(--black) !important;
}
