/*
**************************************************
BOX STYLES
**************************************************
*/

.boxes {
  background-color: var(--white);
  color: var(--blue);
  text-align: center;
  border: none;
  padding: 20px;
  border-top: 1px solid var(--blue);
  width: 100%;
}

.box-grid {
  display: grid;
  flex-wrap: wrap;
  gap: 15px;
  justify-items: center;
  align-content: center;
  padding-bottom: 50px;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas: 
    "alias-js"
    "alias-html" 
    "alias-css"
    "alias-git"
    "alias-tw"
    "alias-react"
    "alias-ts"
    "alias-career";
}

#js-box {
  grid-area: alias-js;
}

#html-box {
  grid-area: alias-html;
}

#css-box {
  grid-area: alias-css;
}

#git-box {
  grid-area: alias-git;
}

#tailwind-box {
  grid-area: alias-tw;
}

#react-box {
  grid-area: alias-react;
}

#typescript-box {
  grid-area: alias-ts;
}

#career-box {
  grid-area: alias-career;
}

.box-item {
  flex: 1 1 300px;
  max-width: 350px;
  box-sizing: border-box;
  height: 380px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid var(--blue);
  border-bottom: 5px solid var(--blue);
  padding: 20px;
  text-align: left;
}

.tab {
  background-color: var(--theme);
  border-radius: 10px;
  padding: 5px 10px;
  position: absolute;
  font-weight: bold;
  top: 10px;
  right: 10px;
  font-size: 1rem;
  color: var(--blue);
}

.box-image {
  width: calc(100% + 40px);
  border: 1px solid var(--blue);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
  background-color: var(--blue);
  height: 200px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.paragraph {
  font-weight: normal;
  margin-bottom: 30px;
}

.read-more {
  height: 50px !important;
}

.read-more hr {
  border: 0.5px solid var(--blue);
  padding: 0;
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
}

.more {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

a.more,
a.more:link,
a.more:visited,
a.more:active,
a.more:focus {
  text-decoration: none;
  outline: none;
  margin-top: 20px;
  color: var(--blue);
}

a.more:hover .read,
a.more:hover .arrow {
  font-weight: 900;
}

.read {
  text-align: left;
}

.arrow {
  text-align: right;
}

/*
**************************************************
BREAKPOINTS
**************************************************
*/

@media (min-width: 576px) {
  .box-grid {
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: 
      "alias-js"
      "alias-html" 
      "alias-css"
      "alias-git"
      "alias-tw"
      "alias-react"
      "alias-ts"
      "alias-career";
  }
}

@media (min-width: 992px) {
  .box-grid {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "alias-js alias-html alias-css"
    "alias-git alias-tw alias-react"
    "alias-ts alias-career . ";
  }
}

@media (min-width: 1440px) {
  .box-grid {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "alias-js alias-html alias-css alias-git"
    "alias-tw alias-react alias-ts alias-career";
  }
}