:root {
    --dark-steel: #295d8a;
    --steel: #4a7fb2;
    --light-steel: #B0C4DE;
    --white: #ffffff;
    --black: #000000;
}

[data-theme="dark"] {
    --white: #000000 !important;
    --black: #ffffff;
}

body {
    background-color: var(--white);
    color: var(--black);
    transition: background-color 0.3s, color 0.3s;
}

.item-content {
    background: var(--white);
    transition: background-color 0.3s;
}

.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--white);
    margin: 10px auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.theme-toggle i {
    transition: transform 0.3s;
}

.theme-toggle:hover i {
    transform: scale(1.2);
}

.theme-toggle span {
    font-family: 'Audiowide', sans-serif;
    font-size: 16px;
}
